@inherits LayoutComponentBase

<PageTitle>Test Task Blazor</PageTitle>

<div class="page">
    
    <div class="container-fluid bg-blue">
        <TopNavBar> </TopNavBar>
    </div>
    <div class="container-fluid flex-grow-1">
        @Body
    </div>
</div>
