<div class="container">
	<header class="d-flex justify-content-center justify-content-md-between flex-wrap py-3 mb-4 border-white border-bottom border-5">
		<NavLink href="/" class="text-light text-decoration-none fs-4 fw-bold"> Test Task Blazor</NavLink>

		<ul class="nav">
			<li>
				<NavLink href="/" class="text-light nav-link">Главная</NavLink>
			</li>

			<li>
				<NavLink href="/manage-tasks" class="text-light nav-link">Список заявок</NavLink>
			</li>
			<li>
				<NavLink href="/manage-materials" class="text-light nav-link">Список материалов</NavLink>
			</li>
		</ul>
	</header>
</div>

@code {

}
